.ant-layout-header{
  background-color:rgba($color: #272537, $alpha: 0.9);
  overflow: hidden;
}
.ant-layout-sider{
  background-color:rgba($color:#001529, $alpha: 1);
  display: block;
  height: 100%;
  width: 20%;
  min-height: 800px;
  padding-top: 10px;
}
.ant-layout-content{

  width: 80%;
  height: 100%;
  min-height: 800px;
}
.logo{
  display: inline-block;
  margin-right: 30%;
  width: 101px;
  height: 36px;
  margin-top: 4px;
  vertical-align: middle;
}
.main{
  display: flex;
}
.foot{
  text-align: center;
  width: 100%;
  user-select: none;
  .ant-layout-footer{
    background-color:#272537;
    img{
      display: block;
      margin: 0 auto;
      width: 202px;
      height: 72px;
    }
    p{
      position: relative;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 10px;
      color: aliceblue;
      span{
        text-align: center;
        font-size: 32px;
        margin: 0.2rem;
      }
    }
  }
}
.pic {
 display: inline-block;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 overflow: hidden;
 vertical-align: middle;
 line-height: 64px;
}
.ant-image-img{
  display: block;
}
/* .login{
  color: aliceblue;
  &:hover{
    color: aqua;
  }
} */
