.Home{
    .content{
        .am-tabs-default-bar{
            padding-left: 10px;
            background-color: inherit !important;
        }
        .am-tabs-default-bar-tab{
            width: auto !important;
            padding: 0 14px;
            color: #8e8787;
            margin-right: 10px; 
        }
        .active{
            border-bottom: 2px #58bc58 solid !important;
        }
        .am-tabs-default-bar-nextpage,.am-tabs-default-bar-prevpage{
            display: none;
        }
    }
    footer{
        background-color: #232222;
        padding: 35px 0;
        .footer-logo{
            height: 42px;
            margin-bottom: 48px;
            img{
                height: 100%;
            }
        }
        >p{
            color: #fff;
            margin-bottom: 20px;
            span{
                margin:0 18px;
                font-size: 22px;
            }
        }
        h2{
            font-weight: normal;
            padding: 0 90px 20px;
            text-align: left;
            span{
                display: inline-block;
                color: #fff;
                font-size: 14px;
                margin: 20px;
            }
        }
        h3{
            font-weight: normal;
                       p{
                color: #fff;
                color: #7f7f7f;
                font-size: 10px;
                margin: 0;
            }
        }
    }
    .tabs-fixed{
        position: fixed;
        top: 50px;
        z-index:200;
        background-color: #fff;
    }
}
